.table {
    border: 1px solid #d9d6d6c7;
}

.title {
    color: #00000070;
    font-weight: 500;
}

.header-row {
    border-bottom: 1px solid #d9d6d6c7;
}

.header-row div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #939090;
    font-weight: 500;
    border-right: 1px solid #d9d6d6c7;
}

.body-row div:last-child {
    border-right: none
}

.body-row:last-child {
    border-bottom: none;
}

.body-row {
    font-size: 14px;
    border-bottom: 1px solid #d9d6d6c7;
}

.body-row div {
    display: flex;
    align-items: center;
    border-right: 1px solid #d9d6d6c7;
    color: #7c7c7c;
    font-weight: 400;
    padding: 0.5rem 0;
}