.list-area {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.title {
    color: #00000070;
    font-weight: 500;
}


.list-area table tr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #cfcfcf;
}

.list-area table th span {
    justify-content: center;
    align-items: center;
    display: flex;
}

.list-area table th span {
    display: flex;
    width: 100%;
    height: 1rem;
    border-right: 1px solid #c1c1c1;
    justify-content: flex-start;
}

.list-area table th {
    padding-top: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.list-area table td {
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.delete-btn {
    border: 1px dotted #e94040;
    background-color: #fff;
    color: #e94040;
    padding: 0.3rem;
    border-radius: 5px;
}

.delete-btn:hover {
    color: #fff;
    background-color: #e94040;
}

.btn-add_area {
    border: 1px solid #0e9d0f;
    color: #0e9d0f;
    background-color: #fff;
    padding: 4px;
    height: fit-content;
    border-radius: 4px;
}

.btn-add_area:hover {
    background-color: #0e9d0f;
    color: #fff;
}

.paging {
    font-size: 14px;
    border-top: 1px solid #c1c1c1;
}

.chevron-icon {
    color: #b6b4b4;
}

.chevron-icon:hover {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.pre-btn,
.next-btn {
    background-color: #fff;
    /* border: 1px solid #00000038; */
    border: none;
}