.header-add_hotel {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-hotel {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form {
    font-size: 14px;
    column-gap: 12rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;

}

.form p {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
    text-transform: capitalize;
}

.input-text {
    padding-left: 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}

.select-box-hotel_form {
    outline: none;
    border-radius: 4px;
    appearance: none;
    background-image: url("/public/images/25623.png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    padding: 8px 4px 8px 4px;
    font-weight: 400;
}

.list-image {
    row-gap: 8px;
    column-gap: 8px;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100px;
}

.list-room {
    row-gap: 8px;
    column-gap: 8px;
    flex-wrap: wrap;
}

.image-wrapper {
    height: 80px;
}

.close-icon {
    top: 0;
    opacity: 0.41;
    position: absolute;
    padding: 2px 4px;
    color: #fff;
    background-color: #00000047;
    right: 0;
    border-radius: 30px;
    margin: 4px 4px 0px 0px;

}

.tag-room {
    display: flex;
    border: 1px solid #85858596;
    height: 24px;
    background-color: #85858514;
    align-items: center;
}

.tag-room p {
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    max-width: 68rem;
    text-overflow: ellipsis;
}

.close-icon_room {
    top: 0;
    opacity: 0.41;
    padding: 2px 4px;
    color: #2a2929;
    right: 0;
}

.btn-submit {
    padding: 0.5rem 2rem;
    border: none;
    color: #fff;
    background-color: #008080;
    width: fit-content;
    border-radius: 2px;
}

.btn-submit:hover {
    opacity: 0.8;
}


.header-add_hotel h3 {
    color: #d9d9d9;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.description {
    font-size: 14px;
}

.description p {
    font-size: 14px;
}

.description textarea {
    padding-left: 4px;
}