.chat {
    background-color: #f3f6f9;
    height: 100vh;
}

.header-chat {
    height: 10%;
}

.body-chat {
    height: 90%;
}

.wrapper-input-message {
    height: 10%;
    border-top: 1px solid #e3dfdf;
}

.input-message {
    outline: none;
    border: none;
}

.wrapper-message {
    height: 100%;
    border-right: 1px solid #e3dfdf;
    border-top: 1px solid #e3dfdf;
    border-bottom: 1px solid #e3dfdf;
}

.send-button {
    background-color: #48b0f7;
    border: none;
    border-radius: 50%;
        width: 45px;
            height: 45px;
}