.chat {
    background-color: #f3f6f9;
    height: 100vh;
}

.header-chat {
    height: 10%;
}

.body-chat {
    height: 90%;
}

.wrapper-input-message {
    height: 10%;
    border: 1px solid #000;
    border-left: none;
}

.input-message {
        outline: none;
        border: none;
}