* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  padding: 0px 88px;
  font-size: 14px;
}

.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.f-5 {
  flex: 5;
}

.f-6 {
  flex: 6;
}


.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.outline-none {
  outline: none;
}


.white-space-nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.line-height-22px {
  line-height: 22px !important;
}

p {
  margin: 0;
}

.font-size-14px {
  font-size: 14px;
}

.warning-message {
  color: #ff0000b5;
}

.icon-warning {
  color: #ff0000b5;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-row-even {
  background-color: #f4f8fb;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}